{{ define "main" }}
  {{ .Content }}

  {{ $.Scratch.Set "index" 0 }}
  {{ range (shuffle (where .Site.Pages "Type" "post")) }}
    {{ $.Scratch.Set "index" (add ($.Scratch.Get "index") 1) }}
    <a href="{{ .Permalink }}" class="surprise-me-link">{{ $.Scratch.Get "index" }}</a>
  {{ end }}

  <script>
    const sample = (array) => array[Math.floor(Math.random() * array.length)];
    const links = [...document.querySelectorAll('.surprise-me-link')];

    window.location = sample(links).href;
  </script>
{{ end }}
